
.icon-behanceicon:before { content: '\e800'; } /* '' */
.icon-soundcloudicon:before { content: '\e80f'; } /* '' */
.icon-dribbbleicon:before { content: '\e802'; } /* '' */
.icon-facebookicon:before { content: '\e803'; } /* '' */
.icon-flickricon:before { content: '\e804'; } /* '' */
.icon-googleplusicon:before { content: '\e805'; } /* '' */
.icon-instagramicon:before { content: '\e806'; } /* '' */
.icon-linkedinicon:before { content: '\e807'; } /* '' */
.icon-deviantarticon:before { content: '\e801'; } /* '' */
.icon-skypeicon:before { content: '\e809'; } /* '' */
.icon-tumblricon:before { content: '\e80a'; } /* '' */
.icon-twittericon:before { content: '\e80b'; } /* '' */
.icon-ustreamicon:before { content: '\e80c'; } /* '' */
.icon-vimeoicon:before { content: '\e80d'; } /* '' */
.icon-youtubeicon:before { content: '\e80e'; } /* '' */
.icon-pinteresticon:before { content: '\e808'; } /* '' */