.reservationForm .field_text .tfuse_rf_post_datepicker_in, .reservationForm .field_text .tfuse_rf_post_datepicker_out{
    background-image: url("../../../../../framework/static/images/picker_icon.jpg");
    background-repeat: no-repeat;
    background-position: 10px 12px;
    padding-left: 30px;
    width: 16px;
}
.tfuse_captcha_reload{
    background-image:url(../images/reload.png) !important;
    background-repeat: no-repeat !important;
    height: 18px !important;
    margin-top: 15px !important;
    max-width: 16px !important;
    vertical-align: top;
    background-color: transparent !important;
    border:none !important;
    padding-left: 18px !important;
}
/* preview  */
#TB_ajaxContent input[type="text"], #TB_ajaxContent input[type="password"], #TB_ajaxContent textarea, #TB_ajaxContent .select_styled {
-webkit-appearance: none;
-moz-appearance: none;
border: 1px solid #e2e2e2;
background: #ffffff !important;
border-radius: 3px;
height: 42px;
color: #333333;
font-family: "Gafata", sans-serif;
font-size: 14px;
padding: 0 12px;
margin: 0;
outline: none;
width: 100%;
}

#TB_ajaxContent .contact-form .label_title {
    display: none;
}

 #TB_ajaxContent .label_title {
display: block;
margin-bottom: 8px;
font-size: 14px;
color: #666666;
font-weight: 400;
cursor: default;
}

 #TB_ajaxContent .row_form {
position: relative;
margin: 0 0 20px 0;
}


 #TB_ajaxContent .field_text, #TB_ajaxContent .field_select {
float: left;
width: 46%;
margin-right: 8%;
margin-bottom: 20px;
}


#TB_ajaxContent .field_textarea {
float: none;
width: 100%;
margin-right: 0;
margin-bottom: 24px;
}

#TB_ajaxContent .field_textarea .textarea{
height:100px;
}

#TB_ajaxContent .field_text.omega,#TB_ajaxContent .field_select.omega {
margin-right: 0;
}

#TB_ajaxContent .custom-checkbox label,#TB_ajaxContent .custom-radio label {
display: block;
position: relative;
padding-left: 25px;
margin-bottom: 15px;
line-height: 15px;
min-height: 15px;
font-size: 15px;
font-weight: normal;
cursor: pointer;
color: #999999;
}

#TB_ajaxContent .custom-checkbox input,#TB_ajaxContent .custom-radio input {
position: absolute;
top: 0;
left: 10px;
margin: 0;
border: none;
width: 1px;
height: 1px;
display: none;
}

#TB_ajaxContent .input_styled {
margin-right: 10%;
}

#TB_ajaxContent .input_styled.omega {
margin-right: 0;
}

#TB_ajaxContent .row_form.alignleft.input_styled.checklist  input{float:left}

#TB_ajaxContent input[type=checkbox],#TB_ajaxContent input[type=radio] {
margin: 3px 10px 3px 4px;
}

#TB_ajaxContent .btn-main {
color: #ffffff;
background-color: #66cc33;
border-color: #5cb82e;
border: none;
}

#TB_ajaxContent .btn {
font-weight: normal;
border: none;
padding: 11px 27px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 3px;
}

#TB_ajaxContent .btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

#TB_ajaxContent .btn {
font-weight: normal;
border: none;
padding: 11px 27px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 3px;
}

#TB_ajaxContent .contact-form .input_styled label {
color: #999999;
}

#TB_ajaxContent .link-reset
{
    float: right;
    margin-top: 7px;
}