/*
 *
 * Don't forget to set custom_css to true in the defaults.php file!
 *
 */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


.redux-container {
	background-image: none;
	border: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: 0;
	background-color: #3f3b39 ;
	}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a {
	color: #a89f9b;
	}

.admin-color-fresh #redux-header {
	background: #2b2725 ;
	border-bottom: none ;
	height: 130px;
	margin: 0px ;
	padding: 0px ;
	font-family: 'Montserrat', sans-serif ;
	}

#redux-header .display_header {
	float: left;
	margin: 0px ;
	}

#redux-header .display_header h2 {
	display: inline-block;
	font-style: normal;
	padding-right: 5px;
	font-family: 'Montserrat', sans-serif ;
	font-size: 20px;
	text-shadow: none;
	}
	
h2.tit_theme {
	color: #cdbdb6 !important;
	font-family: 'Montserrat', sans-serif ;
	font-size: 15px;
	text-shadow: none;
	}

.cont_logo {
	background-color: #f76c4c;
	padding: 44px 34px 44px 36px;
	}


/* botton  */
.top_save  {
	margin: 50px 30px 0px 10px;
	float: right ;
	}

.top_save .button.button-primary,
.redux-action_bar .button.button-primary,
.redux-action_bar .button {
	background-image: none ;
	background-image:none ;
	background-image: none ;
	background-image: none ;
	background-image: none ;
	background-image: none ;
	box-shadow: none ;
	text-decoration: none;
	text-shadow: none ;
	display: inline-block ;
	height: 38px;
	padding: 0 20px ;
	background: transparent;
	color: #a89f9b ;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14.5px;
	cursor: pointer;
	border-radius: 0px ;
	border: 2px solid #a89f9b;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	font-family: 'Montserrat', sans-serif ;
	}

.top_save .button:hover,
.redux-action_bar .button:hover,
.top_save .button.button-primary:hover,
.redux-action_bar .button.button-primary:hover {
	background: #f76c4c;
	border-color: #f76c4c;
	color: #FFFFFF;
	}

#redux-opts-header .button:hover,
#redux-opts-footer .button:hover,
#redux-opts-header .button.button-primary:hover,
#redux-opts-footer .button.button-primary:hover {
	opacity: 0.85;
	}

#icon-themes {
	display: none;
	}

.cont_tema_name {
	padding: 54px 0px 0px 22px;
	width: 29%;
	float: left;
	}
	
.cont_tema_name h2 {
	text-transform: uppercase ;
	float: left;
	margin: 0px ;
	padding: 0px 10px 0px 10px ;
	font-size: 15px ;
	color: #a89f9b ;
	text-decoration: none;
	text-shadow: none ;
	}

.cont_tema_name span {
	color: #cdbdb6 ;
	float: left ;
	}


.redux-main {
	margin-left: 246px ;
	}



/* sidebar  */
.redux-sidebar {
	width: 246px ;
	float: left;
	background-color: #3f3b39;
	}

@media screen and (max-width: 1124px) {
.redux-sidebar {
	width: 55px ;
	}

.fa {
	line-height: 0 !important;
	}
	
[class*="el-icon-"] {
	line-height: 0 !important;
	}

.redux-sidebar .redux-group-menu li.active a {
	width: 36px !important;
	}
	
.redux-main {
	margin-left: 57px !important;
	}

.redux-group-tab-link-a span {
	display: none;
	position: absolute;
	top: 0;
	left: 56px;
	padding: 12px 12px 12px 12px !important;
	width: 200px;
	background-color: #f76c4c;
	color: #fff;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 3;
	font-family: 'Montserrat', sans-serif ;
	}
}

@media screen and (max-width: 824px) {

.cont_tema_name {
	display: none;
	}
}

.redux-sidebar .redux-group-menu li {
	padding: 0px ;
	background-color: #3f3b39 ;
	border-width: 1px ;
	border-style: solid;
	border-bottom-color: #2b2725 ;
	border-top: none;
	font-size: 13px ;
	text-transform: uppercase ;
	}

ul.redux-group-menu {
	padding: 0px ;
	margin: 0px ;
	}

.redux-group-tab-link-a span.group_title {
	padding: 5px 0px 5px 40px;
	}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active {
	border-left: none ;
	background-color: #2b2725 ;
	padding: 3px 0px 3px 0px;
	}

.redux-sidebar .redux-group-menu li a {
	display: block;
	padding: 20px 4px 20px 14px ;
	background: #3f3b39 ;
	border: none ;
	opacity: .7;
	color: #a89f9b ;
	text-decoration: none;
	-webkit-transition: none;
	transition: none;
	}

.redux-sidebar .redux-group-menu li a:hover {
	padding: 20px 4px 20px 14px ;
	background-color: #2b2725 ;
	width: auto ;
	color: #a89f9a ;
	margin-right: 0px ;
	opacity: 1;
	}

.redux-sidebar .redux-group-menu li a {
     color: #a89f9b ;
     font-weight: 400;
     font-size: 13px;
     font-family: 'Montserrat', sans-serif ;
	}
	
.redux-sidebar .redux-group-menu li.active a {
	background: #2b2725 ;
	color: #a89f9b ;
	width: 211px ;
	opacity: 1;
	margin-right: -2px;
	}

.redux-group-tab-link-a i {
	vertical-align: middle;
	font-size: 26px ;
	position: absolute;
	}

.redux-sidebar .redux-group-menu li.divide {
	border-width: 1px 0;
	border-style: solid;
	border-bottom-color: #2b2725 ;
	}

.redux-container #info_bar {
	border-bottom: none ;
	padding: 0px ;
	height: 0px ;
	}


/* FOOTER  */
#redux-footer {
	padding: 70px 20px 60px 20px;
	border: none;
	background-color: #2b2725 !important;
	}

#redux-footer #redux-share {
	float: left;
	line-height: 28px;
	font-size: 15px;
	}

.admin-color-fresh #redux-footer #redux-share i {
	font-size: 20px;
	color: #a89f9b;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	margin-left: 25px;
	}
	
.admin-color-fresh #redux-footer #redux-share i:hover {
	color: #f76c4c;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	}


/* container  */
.redux_field_th {
	font-weight: 700;
	padding: 20px 10px 20px 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif !important ;
	}

.redux-main span.description {
	display: block;
	font-style: normal;
	text-transform: none;
	font-family: 'Montserrat', sans-serif !important ;
	font-weight: 400;
	}

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img {
	border-color: #f76c4c;
	}

.redux-container-image_select .redux-image-select-selected img, .redux-container-image_select .redux-image-select-selected .tiles {
	border-color: #f76c4c;
	}
