/* ----------------------------------------------------------------------------
Theme Style: Denim
-------------------------------------------------------------------------------  */




body {
       color: #ffd8be;
       background-color: #0c1518;
}

a {
    color: #8e4647;
}

a:hover,
a:active,
a:focus {
  
    color: #ffd8be;
  }

/* Typography                                   1-
================================================== */


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffd8be;
  
}
    
/* Modern Vintage style                         
================================================== */

.extra_a a {
	color: #ffd8be;
	}
	
.extra_a a:hover {
	color: #8e4647;
	}
	
	
	



/* Navigation                                   4-
================================================== */


#navigation {
    background-image: url(../images/bg_navigation.jpg);
    }
#main-menu > li > a {
    color: #ffd8be ;	

}
#main-menu > li > a:hover {
    color: #1a0f0c ;	

}

#main-menu li.current_page_item a {
	color: #1a0f0c !important;
	}

#main-menu li.current-menu-item a {
	color: #1a0f0c !important;
	}



#main-menu > li.menu-item-has-children:before {
    color: #6F4559;
    }

.current a {
    color: #1a0f0c !important;	
    }
    
ul.sub-menu > li > a {
     background-color: #8e4647;
	color: #ffd8be;
	border-color: #111e23;
}

ul.sub-menu > li > a:hover {
	background-color: #111e23; 
	color: #ffd8be !important;
	}

ul.sub-menu > li:first-child {
	border-color: #111e23;
	}

ul.sub-menu ul.sub-menu > li:first-child {
	border-color: #444;
	}

ul.sub-menu > li.menu-item-has-children:before {
	color: #6F4559;
	}

/* Mobile Navigation */

.flexnav.flexnav-show {
	background: #ffd8be;
	}

.flexnav li a {
	color: #111e23;
	background: #ffd8be;
	border-color: #8e4647;
	}
.flexnav li a:hover {
     color: #8e4647;
	}
	
.flexnav li ul li a { /* Livel 2 */
	background: #ffd8be;
     border-color: #8e4647;
     color: #111e23;
	}
.flexnav ul li ul li a { /* Livel 3 */
	background: #ffd8be; 
	}
.flexnav ul li ul li ul li a { /* Livel 4 */
	background: #ffd8be;
	}
	
.flexnav li ul.sub-menu > li:first-child {
     border-color: #8e4647;
}	

/* === Button Togle level Menu ===  */


.flexnav .touch-button_li {
	background: #8e4647;
	color: #ffd8be;
	}
.flexnav .touch-button_li .navicon {
	color: #666;
	}







/* Navigation Mobile                            5-
================================================== */


.menu-nav i {
     color: #ffd8be;
     transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
}
.menu-nav i:hover {
     color: #111e23;
     transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
}


#navigation-mobile {
     background: #ffd8be;
}


#menu-nav-mobile li {
    border-top: 1px dashed #1f1311;
}


#navigation-mobile li a {
      color: #1f1311;
 }

#navigation-mobile li a:hover {
    color: #E96045;
}


#menu-nav-mobile ul.sub-menu li {
     border-top: 1px dashed #515560;
}

#menu-nav-mobile .menu-parent-item i {
	    color: #1f1311;
}



/* Sections                                     6-
================================================== */

.head_bg {
	background-size: 177px 177px;
	background-image: url(../images/bg1.jpg) !important;
	
     }

.alternate-bg1 {
	background-size: 177px 177px;
	background-image: url(../images/bg1.jpg);
	
     }

.alternate-bg2 {
	background-size: 177px 177px;
     background-image: url(../images/bg2.jpg);
     }


.page_theme {
	background-size: 177px 177px;
	background-image: url(../images/bg2.jpg);
     }








/* Moder Vintage Styling                        7-
================================================== */

.section_divider {
         background-color: #8e4647;
     }

.divider {
        background-color: #8e4647;
     }

.divider-post {
     border-bottom: 1px dashed #ffd8be;
     }
h1.text_tit {
        color: #ffd8be;
       }

h1.text_title_section {
       color: #ffd8be;
       }

h2.text_intertit {
       color: #8e4647;
    
     }

h2.text_intertit p {
     color: #8e4647;
     }


h2.introduction {
        color: #8e4647;
        }


h2.text_archive {
        color: #ffd8be;
         }

.frame_portfolio {
        border: 10px solid #ffd8be;
       }
     
.portfolio_tit {
   	background-color: #ffd8be;
	
     }
     
.frame_scrol {
        border: 10px solid #ffd8be;
  
     }


.frame {
     border: 10px solid #ffd8be;
     
   
     }

.frame_features {
     border: 7px solid #ffd8be;
   
        }

.frame_avatar {
     border: 5px solid #ffd8be;
  
     }

@media (max-width: 480px) {

.frame {
     border: 5px solid #ffd8be;
     }
  
.frame_features {
     border: 5px solid #ffd8be;
     }

}



/* Modern Vintage Botton                        8-
================================================== */
.special {
     background-image: url(../images/bg_load_ribbon.png);
     color: #ffd8be;
        }
	


/* Social Share                                9-
================================================== */
.button {
     background: #DCE0E0;
    
     }


.icon i {
     color: #fff;
     }


.slide p {
        color: #fff;
        }


.facebook .icon, .facebook .slide {
     background: #576779;
     }

.twitter .icon, .twitter .slide {
     background: #4da8b6;
     }

.google .icon, .google .slide {
     background: #b26344;
     }

.linkedin .icon, .linkedin .slide {
     background: #3e7081;
     }



/* Blog page - Full - Sidebar                  10-
================================================== */

     
.cat-meta-list li {
         color: #ffd8be;
      }

.cat-meta-list li i {
     color: #8e4647;
     }


/* Portfolio Page - Full - Right Sidebar       11-
================================================== */

h2.headline_portfolio {
     color: #ffd8be;
         }
     
span.child_right_side {
     color: #8e4647;
     }

h2.text_intertit_portfolio {
        color: #8e4647;
    
     }

/* Footer                                      12-
================================================== */

footer {
     background-color: #8e4647;
   
     }
     
     

.bg_navigation_up {
   
     background-image: url(../images/bg_navigation_up.jpg);
        }
     
.bg_navigation_down {
      background-image: url(../images/bg_navigation_down.jpg);
        }

.foot_tit {
     color: #ffd8be;
        }
        
span.scrollsections-navigation a {
     color: #ffd8be;
     }
     
span.scrollsections-navigation a:hover {
     color: #0c1518;
     }
    
     
	

/* Team Section                                13-
================================================== */


.team_single .image .mask,
.item .mask {
     /*border:10px solid rgba(236, 131, 101, 0.155);*/
     border:5px solid #ffd8be;
     }

.img_team {
        border: 5px solid #e47e65;
     }
     
     
.team_single .image {
   
     border:5px solid #ffd8be;
	     }

.tit_team {
     border-top: solid 1px #8e4647; 
     border-bottom: solid 1px #8e4647; 
     color: #ffd8be;
     color: #ffd8be;
     }

.cont_team p {
        color: #ffd8be;
     }




/* ==  Menu Filter Portfolio  == */

	
nav#filter li {
	background: #8e4647 ;
	}
	
.append_img {
	background-image:  url(../images/img_lef.png);
	
	}
	
nav#filter a {
	color: #ffd8be;

	}




/* Paralax Backgrounds                         15-
================================================== */

.parallax {
	background-color: #000;
		}

/* Paralax Backgrounds PORTFOLIO/BLOG
=========================================== */

.parallax_blog{
	background-color: #000;
		}


/* Animation polaroid                          16-
================================================== */

.grid figcaption {
     background: #ffd8be;
	color: #8e4647;
	}
	
.grid figcaption h3 {
		color: #111e23;
	}



.grid figcaption a {
	
	background: #ed4e6e;
	color: #fff;
	}


li.polaindie.frame:hover {
		border: 10px solid #ffd8be;
	}




/*
+----------------------------------------------------------------+
|  SHORT CODE
+----------------------------------------------------------------+
*/



/* Subtitle 2 Row                              17-
================================================== */

.fancy span {
		color: #8e4647;
	}

.fancy span:before,
.fancy span:after {
     border-bottom: 1px solid #8e4647;
	border-top: 1px solid #8e4647;
	}


/* Subtitle 1 Row                              18-
================================================== */


.fancy_one span {
		color: #8e4647;
		}

.fancy_one span:before,
.fancy_one span:after {
	border-bottom: 1px solid #8e4647;
	}

/* Toggle & Accordion                          19-
================================================== */

/*  Toggle  */

.accordion-group {
    	background-image: url(../images/bg_widget.jpg);
  	color: #fff;
  	  	}
  	  	
.accordion-heading .accordion-toggle {
		color: #ffd8be;
	  	}
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
	color:#ffd8be;
  	}
a.accordion-toggle {
	color: #ffd8be ;
  	}
a.accordion-toggle:hover {
  	color: #111e23 ;
  	}
.accordion-heading .accordion-toggle.active {
  	color:#111e23;
  	}
.accordion-heading .accordion-toggle.inactive {
  	}
.indicator {
	color: #ffd8be ;
  	}
.indicator_area {
	color: #ffd8be ;
  	}
.accordion-heading.accordionize .accordion-toggle span,
.accordion-heading.togglize .accordion-toggle span {
  	color: #23262C;
  	}
.accordion-heading:hover .accordion-toggle span {
  	color: #FFFFFF;
  	}
.accordion-heading .accordion-toggle.active span,
.accordion-heading:hover .accordion-toggle.inactive span {
	color: #FFFFFF;	
  	}
.accordion-inner {
  	background: #ffd8be;
  	color: #111e23;
  	}

/*  Accordion  */


.panel-default {
	background-image: url(../images/bg_widget.jpg);
  	}
  	
.panel-default a {
  	color: #ffd8be;	
  	}

.panel-default a:hover {
  	color: #333333;	
  	}
  	
.panel-body {
	background: #ffd8be;
     color: #111e23;
  	}
  	
.panel-default > .panel-heading {
	background-image: url(../images/bg_widget.jpg) !important;
	  	}
  	
.panel-group {
  	display: inline;
  	}

.vintage_bottom {
	
	background-image: url(../images/bg_bottom.png);
	background-size: 73px 7px;
	z-index: 9999999;
	clear: both;
		}


/* Tab                                         20-
================================================== */

.nav-tabs > li > a {
	background-image: url(../images/bg_widget.jpg);
	color: #ffd8be;
		}

.nav-tabs > li > a {
		color: #ffd8be !important;
	}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #111e23 !important;
		}

.tab-content {
		background: #ffd8be;
	color: #111e23;
	}

.tab-content > .active {
	background: #ffd8be;
	color: #111e23;
	}
	
	
/* Blockquote                                  21-
================================================== */

blockquote {
	border-left: 5px solid #8e4647;
	}


blockquote small {
		color: #ffd8be;
	}

blockquote.pull-right {
		border-right: 5px solid #8e4647;
	}

/* Contacts                                    22-
================================================== */

.widget_contact_footer {
	color: #ffd8be;
}
.widget_contact_footer ul {
	color: #ffd8be;
	}

li.type_contact {
	color: #ffd8be;
	}




/*  Sections ShortCode - Blog Full and With Sidebar       23-
============================================================= */


/* Mobile media queries for blog sections */

	
.col-blog-7 h2.headline a {
	color: #ffd8be;
}	
.col-blog-7 h2.headline a:hover {
	color: #8e4647;
}	

.w_blogpost {
		color: #ffd8be;
	}
.w_blogpost.w_blogpost_date a i {
	color: #ffd8be;
	}
.w_blogpost.w_blogpost_author a i {
	color: #ffd8be;
	}


.w_blogpost.w_blogpost_comments a i {
	color: #ffd8be;
}

p.read_more a i {
	color: #ffd8be;
	}



/*  Single Box                                 24-
================================================== */
	
.tit_last_work {
	border-top: solid 1px #ffd8be; 
	border-bottom: solid 1px #ffd8be; 
	color: #ffd8be;
	}
	
.tit_last_work.select_last_work {
	border-top: solid 1px #8e4647; 
	border-bottom: solid 1px #8e4647; 
	}
	
.select_last_work {
	background-color: #8e4647 !important; 
	}


/* Short Code tooltip
================================================== */
.tooltip-inner {
  color: #ffd8be;
   background-color: #8e4647;
}


.tooltip.top .tooltip-arrow {
    border-top-color: #8e4647;
}

.tooltip.top-left .tooltip-arrow {
  border-top-color: #8e4647;
}

.tooltip.top-right .tooltip-arrow {
   border-top-color: #8e4647;
}

.tooltip.right .tooltip-arrow {
 
  border-right-color: #8e4647;
}

.tooltip.left .tooltip-arrow {
   border-left-color: #8e4647;
}

.tooltip.bottom .tooltip-arrow {
 
  border-bottom-color: #8e4647;
}

.tooltip.bottom-left .tooltip-arrow {
 
  border-bottom-color: #8e4647;
}

.tooltip.bottom-right .tooltip-arrow {
   border-bottom-color: #8e4647;
}




/*
+----------------------------------------------------------------+
|  WIDGET
+----------------------------------------------------------------+
*/



/* Widgets - Modern Vintage Sidebar                                   25-==========================================================================*/

.textwidget {
	color: #111e23;
}

.tit_widget {
		background-image: url(../images/bg_widget.jpg);
		color: #ffd8be;
		}
	
.box_widget {
		color: #8e4647;
	      background-color: #ffd8be;

	}
.box_widget_no_title {
		color: #8e4647;
		background-color: #ffd8be;
		}

.box_widget p {
		color: #8e4647;
	}
	
.box_widget a {
		color: #352130;
	}
	
.box_widget a:hover {
		color: #8e4647;
	}
		
.tit_widget_bottom {
	background-image: url(../images/bg_bottom.png);
	}
	
.textwidget {
		color: #111e23;
	}



/* Widget archive - category                  25-1
================================================== */



.box_widget li {	
	border-bottom: solid 1px #EBB5AB;
	}

.box_widget li a {
	color: #111e23;
	}

.box_widget li a:hover {
	color: #8e4647;
	}

/* Widget Display as dropdown                 25-2
================================================== */


.box_widget select {
		background: #ffd8be;
          border: 1px solid #111e23;
		color: #111e23;
		background-image: url(../images/resp_frec.png);
		background-position: center right;
	     background-repeat: no-repeat;
		}

/* Widget Search                              25-3
================================================== */

.box_widget .widget_search input[type="search"] {
		background: #ffd8be;
          border: 1px solid #111e23;
          color: #111e23;
		background-image: url(../images/resp_search.png);
		background-position: center right;
		background-repeat: no-repeat;
		}
		
.box_widget_no_title .widget_search input[type="search"] {
		background: #ffd8be;
          border: 1px solid #111e23;
          color: #111e23;
		background-image: url(../images/resp_search.png);
		background-position: center right;
		background-repeat: no-repeat;
		}
	
	::-webkit-input-placeholder {
	color: #111e23;
	}
:-moz-placeholder { /* Firefox 18- */
	color: #111e23;
	}
::-moz-placeholder {  /* Firefox 19+ */
	color: #111e23;
	}
:-ms-input-placeholder {  
	color: #111e23;
	}
	
	
	

/* Widget Head Search                         25-4
================================================== */
	

/* search input field */
.widget_navigation input[type=search] {
	background: #8e4647;
	color: #ffd8be;
		}
		
/* placeholder */
.widget_navigation input:-moz-placeholder {
	color: #ffd8be;
	}
.widget_navigation input::-webkit-input-placeholder {
	color: #ffd8be;
	}


/* Social Icon Modern-Vintage                 25-5
================================================== */

a.social_icon i {
	color: #ffd8be;
		}

a.social_icon i:hover {
	color: #111e23;
		}
	

/* Testimonial Flex Slider                    25-6
================================================== */

.indie-testimonials-container .flex-control-nav li a {
    border: 2px solid #8e4647;
  
    }
    
.indie-testimonials-container .flex-control-nav li a.flex-active, 
.indie-testimonials-container .flex-caption,
.indie-testimonials-container .flex-control-nav li a:hover {
    background: #8e4647;
    }
    
.testimonial-builder.white .indie-testimonials-container .flex-control-nav li a {
    border-color: #8e4647;
    
	}
.testimonial-builder.white .indie-testimonials-container .flex-control-nav li a.flex-active, 
.testimonial-builder.white .indie-testimonials-container .flex-caption,
.testimonial-builder.white .indie-testimonials-container .flex-control-nav li a:hover {
    background: #8e4647;
	}



/* Widget Social                              25-7
================================================== */

.box_widget a.social_icon i {
	color: #111e23;
		}

.box_widget a.social_icon i:hover {
	color: #8e4647;
		}


/* Widget Twitter                             25-8
================================================== */

.box_widget .indie_widget_twitter li span {
     color: #1a0f0c;
	}

.box_widget .indie_widget_twitter li p span {
	color: #8e4647;
	}
	
.widget .indie_widget_twitter {
	color: #111e23;
	}

.widget .indie_widget_twitter li a {
	color: #8e4647;
	}
.widget .indie_widget_twitter li a:hover {
	color: #1f1311;
	}
.widget span.followtwit {
	color: #000;
		}
.widget span.followtwit:hover {
	color: #1f1311;
	}

/*  line twitter siderbar */


.fancy_one_tw_sider i {
	color: #8e4647;
	}

.fancy_one_tw_sider span {
	color: #8e4647;
	}

.fancy_one_tw_sider span:before,
.fancy_one_tw_sider span:after {
	border-bottom: 1px solid #111e23;
	}


/*  twitter shortcode */

.indie_widget_twitter {
	color: #ffd8be;
	}



/* Follow our twitter shortcode */
span.followtwit {
		color: #ffd8be;
	
	}



/* Widget Flickr                              25-9
================================================== */


.flickrfeed a {
		border: 5px solid #fff;
	}



/* Widget Instagram                          25-10
================================================== */


#instafeed a {
		border: 5px solid #fff;
	}




/* Widget Tag Cloud                          25-11
================================================== */


	
.tagcloud li {
	background: #8e4647 url(../images/img_lef_tag.jpg) left center no-repeat;
	background-size: 15px 23px;

	}
		
.tagcloud ul li a {
	color: #ffd8be !important;
		}




/* Botton to Top                               27-
================================================== */

#back-to-top {
		background-image: url(../images/scroll_arrow.png);
		}


#back-to-top i {
	
	color: #ffd8be;
	
	}


/* Preloader flex                              28-
================================================== */

.loading_slide_portfolio {
      background: transparent url('../images/loadinfo.gif');
      }



/* Comments Style                              29-
================================================== */


.comments-title, 
.pings-title, 
#reply-title {
	
	border-bottom: 1px solid #8e4647;
	color: #8e4647;
	
	}
.comment-cont {
	border-bottom: 1px solid #8e4647;
	}
ul.children .comment-cont {
	border-bottom: none !important;
	}

.comment-cont p {
	color: #ffd8be;
		}
.comment-side .avatar {

	background-color: #ffd8be;
	}
  .bot_polar{
    background-color: #ffd8be;
       }

.comment-author cite, 
.comment-author cite a {
	color: #8e4647;
	
	}
.comment-author cite a:hover {
	color: #E96045;
	}
.comment-author a {
	color: #ffd8be;
	}
.comment-author a:hover {
	color: #8e4647;
	}
.comment-meta, 
.comment-meta a {
	color: #818B92;
	
	}
.comment-meta a:hover {
	color: #E96045;
	}

.comment-meta a {
	color: #ffd8be;
     background-color: #8e4647;

	
	}
.comment-meta a:hover {
	background-color: #ffd8be;
	color: #1b1111;
	}
	
.badge_author {
		background: #8e4647;
	}

/* Comment Form */


#commentform span.required {
	color: #E96045;
	}

#commentform input, 
#commentform textarea {
	
	border: 1px solid #907667; 
	background: #ffd8be;
		color: #8e4647;
		}

#commentform input:focus,
#commentform textarea:focus {
	border-color: #C5C5C5;
	background: #FFFFFF;
	color: #1b1111;
	}


#commentform #submit {
	color: #ffd8be;
	background-image:url(../images/bg_load_ribbon.png);
	background-size: 225px 40px;
	background-color: transparent;
	width: 226px;

  transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
		}

#commentform #submit:hover {
	color: #1b1111;
	
  transition: all 0.3s ease 0s;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
	}



	
/* Contact Form                                31-
================================================== */


.wpcf7 .watermark {
	color: #8e4647 !important;
	}

.wpcf7 input, 
.wpcf7 textarea {
		border: 1px solid #DFDFDF;

	background: #ffd8be;
		color: #211310;
		}

.wpcf7 input:focus, 
.wpcf7 textarea:focus {
	border-color: #ffd8be;
	background: #FFFFFF;
		color: #56646F;
	}

.wpcf7 input {
		border: 1px solid #907667;
	}

.wpcf7 textarea {
		border: 1px solid #907667;
	}

.wpcf7 .wpcf7-submit {
	
	background-color: #8e4647;
	color: #ffd8be;
	
	}

.wpcf7 .wpcf7-submit:hover,
.wpcf7 .wpcf7-submit:focus,
.wpcf7 .wpcf7-submit:active {
	background-color: #ffd8be;
	color: #1b1111;
	}

.wpcf7-form.invalid input.wpcf7-not-valid,
.wpcf7-form.invalid textarea.wpcf7-not-valid,
.wpcf7-form input:focus:invalid:focus,
.wpcf7-form textarea:focus:invalid:focus {
	border-color: #E96045;
	
	}

	
/* FlexSlider                                  32-
================================================== */
/* Direction Nav */
.flex-direction-nav a {
background: url(../images/bg_direction_nav.png) no-repeat 0 0; 
background-size: 93px 43px;
}




/* Navigation                                  33-
================================================== */


a.page-numbers {
	color: #ffd8be;
	}

.indie_pagination .page-numbers:hover {
	color: #ffd8be;
	background-color: #8e4647;
}

.page-numbers.current {
	background-color: #8e4647;
	color: #ffd8be;
	}

.next {
	border-left: 1px solid #ffd8be;
	}

.prev {
	border-right: 1px solid #ffd8be;
	}

span.dots {
	color: #ffd8be;
	}





/*  Loading color                                     34-
================================================== */

/*
#qLoverlay {
	background-color: #0c1518 !important;
}
#qLpercentage {
	color: #ffd8be !important;
}


#qLbar {
	background-color: #8e4647 !important;
}
*/

